:root {
    --dark: black;
    --light: white;
}

* {
    background-color: var(--dark);
    color: var(--light);
}

/* nav bar css */

.navbar-nav {
    margin-right: 0!;
    margin-left: auto;
}

.custom-nav-bar{
    background-color: var(--dark);
    color: var(--light);
}


.headshot img {
    display: flex;
    max-width: 100%;
    Padding: 2%
}

.navbarlogo {
    max-height: 80px;
  }

/* Jumbotron css */

.jumbotron {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat; */
    text-align: center;
  }

.AVATAR {
    max-width: 200px;
    padding-top: 10%;
}

.display-4 {
    width: 100%;
    height: 100%;
    padding-top: 10%;
}

p {
    padding-top: 20px;
}

.white-button {
    background-color: white;
    color: black;
    max-width: 40vh;
}

/* .center-button{
    margin-top: 20px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* main css */

/* showcase project */

.showcaseimage {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.showcasecontainer {
    padding-top: 5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* project cards */

